.container {
  margin: 40px 0;
  width: 100%;
}


.infected {
  background-color: rgb(0, 0, 255) !important;
}

.recovered {
  background-color: rgb(20, 99, 20) !important;
}

.deaths {
  background-color: rgb(255, 0, 0) !important;
}

.text_white {
  color: white;
}

.text_light {
  color: lightgray;
}